﻿@model ACME.Theme.Medical.Models.GoogleThemeSettingsPart

<fieldset>
    <legend>@T("Google Options")</legend>
    <div>
        @Html.EditorFor(m => m.NoSiteLinksSearchBox)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.NoSiteLinksSearchBox)">@T("No Site Links Search Box")</label>
        <span class="hint">@T("When users search for your site, Google Search results sometimes display a search box specific to your site, along with other direct links to your site. This meta tag tells Google not to show the sitelinks search box.")</span>
    </div>
    <div>
        @Html.EditorFor(m => m.NoTranslate)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.NoTranslate)">@T("No Translate")</label>
        <span class="hint">@T("When we recognize that the contents of a page are not in the language that the user is likely to want to read, we often provide a link to a translation in the search results. In general, this gives you the chance to provide your unique and compelling content to a much larger group of users. However, there may be situations where this is not desired. This meta tag tells Google that you don't want us to provide a translation for this page.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.SiteVerificationCode, T("Site Verification Code"))
        @Html.TextBoxFor(m => m.SiteVerificationCode)
        <span class="hint">@T("You can use this tag on the top-level page of your site to verify ownership for Webmaster Tools. Please note that while the values of the \"name\" and \"content\" attributes must match exactly what is provided to you (including upper and lower case), it doesn't matter if you change the tag from XHTML to HTML or if the format of the tag matches the format of your page.")</span>
    </div>
</fieldset>

<fieldset>
    <legend>@T("Google Analytics (Universal Analytics)")</legend>
    <div>
        @Html.LabelFor(m => m.TrackingId, T("Tracking Id"))
        @Html.TextBoxFor(m => m.TrackingId)
        <span class="hint">@T("To set up a Universal Analytics tag, you will need to put the Universal Analytics Tracking ID into the Web Property ID field. You can find the Tracking ID from within Google Analytics listed in Admin → Property → Property Settings or in Admin → Tracking Info → Tracking Code. Alternatively, you can find the Tracking ID by clicking Home and expanding the Account folder. The Tracking ID will be listed next to the Property Name. In any of these cases, the number will have a format that looks like this: UA-xxxxxx-xx")</span>
    </div>
    <div>
        @Html.EditorFor(m => m.IsDebug)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.IsDebug)">@T("Is Debug")</label>
        <span class="hint">@T("Are you debugging Google Analytics (Universal Analytics)?")</span>
    </div>
</fieldset>